<% is_subscribed = user_signed_in? && @event.attendees.include?(current_user) %>
<div class='container'>
  <h1><%= @event.title %></h1>
  <div class='event__header'>
    <div>
      <div class='flex-center'>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"/><circle cx="12" cy="10" r="3"/></svg>
        <p style='margin-left: 0.5em'><%= @event.location %></p>
      </div>
      <div class='flex-center'>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"/><polyline points="12 6 12 12 16 14"/></svg>
        <p style='margin-left: 0.6em;'><%= get_time_sentence(@event.date) %></p>
      </div>
      <div class='flex-center'>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"/><circle cx="12" cy="7" r="4"/></svg>
        <p style='margin-left: 0.6em;'>Created by <%= link_to @event.creator.username, "/users/#{@event.creator.username}" %></p>
      </div>
      <div class='flex-center'>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"/><circle cx="9" cy="7" r="4"/><path d="M23 21v-2a4 4 0 0 0-3-3.87"/><path d="M16 3.13a4 4 0 0 1 0 7.75"/></svg>
        <p style='margin-left: 0.6em;'><%= @event.attendees.length %> attendees</p>
      </div>
    </div>
    <%= link_to is_subscribed ? "Subscribed" : "Subscribe", attend_event_path, class: 'btn yellow event__subscribe-btn', method: :post %>
    <% if user_signed_in? && current_user == @event.creator %>
      <%= link_to "Edit", edit_event_path, class: 'btn cyan', method: :post %>
      <%= button_to "Delete", event_path, class: 'btn pink', method: :delete %>
    <% end %>
  </div>
  <hr>
  <p style='white-space: pre-wrap'><%= @event.body %></p>
</div>