<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://fonts.cdnfonts.com/css/clash-display" %>

    <%= javascript_importmap_tags %>
  </head>

  <body>  
    <%= render 'layouts/header' %>
    <div class='container' style='padding: 0'>
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert"><%= alert %></p>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
